
body {
	background-color: #a2ded0;
}

#title {
	margin-left: auto;
	margin-right: auto;
	width: 70%;
}

#title h1 {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #96281b;
	text-align: center;
}

#header {
	margin-left: auto;
	margin-right; auto;
	width: 70%;

}

#header img {
	border-radius: 2em;
}

#form-wrapper {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 100px;
	width: 70%;
}

#form-wrapper form {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#form-wrapper form label {
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #96281b;
}

#form-wrapper form input {
	border-radius: 2em;
	width: 400px;
}

#results {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#results p {
	text-align: center;
	font-family: "Comic Sans MS", cursive, sans-serif;
	color: #96281b;
}
